/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-size: 400%;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-template-rows: 1fr 300px;
  height: 90%;
  width: 90%;
  border: 10px solid rgba(192, 192, 192, 0.2);
  border-radius: 1%;
}

#topleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  padding: 25px;
}
#topleft p {
  font-size: 125%;
}

#right {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
#right input {
  opacity: .7;
}
.location {
  background-color: rgba(255, 255, 255, 0.2);
}

#forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forecast-card {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.date-condition-box {
  display: flex;
  flex-direction: column;
}

#bottom {
  display: flex;
}

#hourlyWeather {
  display: flex;
  gap: 25px;
}
.hourlyBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  align-items: center;
  flex-grow: 1;
  height: 100px;
  justify-content: center;
}

.partlycloudyday {
  background-image: url("./images/pexels-andre-moura-3774895\ \(1\).jpg");
}
.partlycloudynight {
  background-image: url("./images/partlycloudynight.jpg");
}
.overcastDay {
  background-image: url("./images/overcast.jpg");
}
.day1000 {
  background-image: url("./images/1000day.jpg");
}
.night1000 {
  background-image: url("./images/1000night.jpg");
}
.mistDay {
  background-image: url("./images/mistday.jpg");
}
.mistNight {
  background-image: url("./images/mistnight.jpg");
}
